<html>
<head>
  <title>Checkout canceled</title>
<style>
  .message {
    width: 160px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Baskerville;
  }
  a {
    color: rgb(24, 24, 24);	
    text-decoration: none;
    position: absolute;
    left: 37px;
  }

  a:hover {
		font-style: oblique;
		letter-spacing: 1px;
    left: 39px;
		transition: 350ms ease-in-out;
	}

  .fancy {
    position: absolute;
    right: 27px;
  }
</style>
</head>
<body>
  <div class="message">
    <div class="cancelled">Thank you.</div>
    <div style="display: inline;">Click</div>
    <div style="display: inline;"><a href={{.FullsizeURL}}>here</a></div>
    <div style="display: inline;" class="fancy">to retrieve</div>
    <div>your Lightroom Preset file.</div>
    <div>The download will be available for 5 minutes.</div>
  </div>
</body>
</html>
